.proyectos{
    width: 100%;
flex-direction: row;    
justify-content:space-between;
}
.contenedor-proyectos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Cambiado a wrap */
    align-items: center; /* Alinea las imágenes al centro */
    width: 100%;
    margin-top: 40px;
 
}
.contenedor-proyectos img{
    border-radius: 10px;
    width: 70vh;
    height: 40vh;
margin: 10px;
}
.proyectos-h1{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {

    .contenedor-proyectos img{
        
        border-radius: 10px;
        width: 30vh;
        height: 20vh;
        margin-bottom: 20px;
    
    }
    .contenedor-proyectos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



}