.container-home {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 91vh;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: linear-gradient(to bottom, #ffffff, #000000); /* Aquí especificas los colores que quieres para el degradado */

}



.div-img img{
    width: 25%;
    height: 50vh;
    margin-top: 50px;
border-radius:  50%;
border: 7px #0c0029 solid ;
}

.contenido-home {
    text-align: center;
}

.container-home h1 {
    font-size: 8vw; /* Usando vw para que el tamaño de la fuente sea relativo al ancho de la pantalla */
    margin-bottom: 0.5em; /* Espaciado relativo al tamaño de la fuente */
    color: #fff;
}

.container-home h2 {
    font-size: 4vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    margin-top: 0.5em; /* Espaciado relativo al tamaño de la fuente */
    color: #fff;
}

@media screen and (max-width: 767px) {
    .div-img img{
        
        width: 70%;
height: 30vh;
    }
  
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .div-img img{
    
        width: 60%;
    height: 45vh;
    }
}
/* @media screen and (min-width: 1025px) {

    .div-img img{
        width: 30%;
        height: 60vh;
        
    }

} */