.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contenido-home {
    text-align: center;
}

.container-home h1 {
    font-size: 8vw; /* Usando vw para que el tamaño de la fuente sea relativo al ancho de la pantalla */
    margin-bottom: 0.5em; /* Espaciado relativo al tamaño de la fuente */
}

.container-home h2 {
    font-size: 4vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    margin-top: 0.5em; /* Espaciado relativo al tamaño de la fuente */
}